config UART_DW
    bool "DesignWare UART driver"
    depends on SERIAL && SOC_RK3588
    select SERIAL_HAS_DRIVER
    select SERIAL_SUPPORT_INTERRUPT
    help
      Enable support for DesignWare APB UART (snps,dw-apb-uart) for RK3588.